name: ci

on:
- pull_request
- push

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name:
        - Node.js 0.8
        - Node.js 0.10
        - Node.js 0.12
        - io.js 1.x
        - io.js 2.x
        - io.js 3.x
        - Node.js 4.x
        - Node.js 5.x
        - Node.js 6.x
        - Node.js 7.x
        - Node.js 8.x
        - Node.js 9.x
        - Node.js 10.x
        - Node.js 11.x
        - Node.js 12.x
        - Node.js 13.x
        - Node.js 14.x
        - Node.js 15.x
        - Node.js 16.x
        - Node.js 17.x
        - Node.js 18.x
        - Node.js 19.x
        - Node.js 20.x
        - Node.js 21.x

        include:
        - name: Node.js 0.8
          node-version: "0.8"
          npm-i: mocha@2.5.3 supertest@1.1.0
          npm-rm: nyc

        - name: Node.js 0.10
          node-version: "0.10"
          npm-i: mocha@2.5.3 nyc@10.3.2 supertest@2.0.0

        - name: Node.js 0.12
          node-version: "0.12"
          npm-i: mocha@2.5.3 nyc@10.3.2 supertest@2.0.0

        - name: io.js 1.x
          node-version: "1.8"
          npm-i: mocha@2.5.3 nyc@10.3.2 supertest@2.0.0

        - name: io.js 2.x
          node-version: "2.5"
          npm-i: mocha@2.5.3 nyc@10.3.2 supertest@2.0.0

        - name: io.js 3.x
          node-version: "3.3"
          npm-i: mocha@2.5.3 nyc@10.3.2 supertest@2.0.0

        - name: Node.js 4.x
          node-version: "4.9"
          npm-i: mocha@5.2.0 nyc@11.9.0 supertest@3.4.2

        - name: Node.js 5.x
          node-version: "5.12"
          npm-i: mocha@5.2.0 nyc@11.9.0 supertest@3.4.2

        - name: Node.js 6.x
          node-version: "6.17"
          npm-i: mocha@6.2.2 nyc@14.1.1 supertest@6.1.6

        - name: Node.js 7.x
          node-version: "7.10"
          npm-i: mocha@6.2.2 nyc@14.1.1 supertest@6.1.6

        - name: Node.js 8.x
          node-version: "8.17"
          npm-i: mocha@7.2.0 nyc@14.1.1 supertest@6.1.6

        - name: Node.js 9.x
          node-version: "9.11"
          npm-i: mocha@7.2.0 nyc@14.1.1 supertest@6.1.6

        - name: Node.js 10.x
          node-version: "10.24"
          npm-i: mocha@8.4.0 supertest@6.1.6

        - name: Node.js 11.x
          node-version: "11.15"
          npm-i: mocha@8.4.0 supertest@6.1.6

        - name: Node.js 12.x
          node-version: "12.22"
          npm-i: mocha@9.2.2 supertest@6.1.6

        - name: Node.js 13.x
          node-version: "13.14"
          npm-i: mocha@9.2.2 supertest@6.1.6

        - name: Node.js 14.x
          node-version: "14.21"

        - name: Node.js 15.x
          node-version: "15.14" 
          npm-i: supertest@6.1.6

        - name: Node.js 16.x
          node-version: "16.20"

        - name: Node.js 17.x
          node-version: "17.9"

        - name: Node.js 18.x
          node-version: "18.19"

        - name: Node.js 19.x
          node-version: "19.9"

        - name: Node.js 20.x
          node-version: "20.11"

        - name: Node.js 21.x
          node-version: "21.6"

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Node.js ${{ matrix.node-version }}
      shell: bash -eo pipefail -l {0}
      run: |
        nvm install --default ${{ matrix.node-version }}
        if [[ "${{ matrix.node-version }}" == 0.* && "$(cut -d. -f2 <<< "${{ matrix.node-version }}")" -lt 10 ]]; then
          nvm install --alias=npm 0.10
          nvm use ${{ matrix.node-version }}
          sed -i '1s;^.*$;'"$(printf '#!%q' "$(nvm which npm)")"';' "$(readlink -f "$(which npm)")"
          npm config set strict-ssl false
        fi
        dirname "$(nvm which ${{ matrix.node-version }})" >> "$GITHUB_PATH"

    - name: Configure npm
      run: |
        if [[ "$(npm config get package-lock)" == "true" ]]; then
          npm config set package-lock false
        else
          npm config set shrinkwrap false
        fi

    - name: Remove npm module(s) ${{ matrix.npm-rm }}
      run: npm rm --silent --save-dev ${{ matrix.npm-rm }}
      if: matrix.npm-rm != ''

    - name: Install npm module(s) ${{ matrix.npm-i }}
      run: npm install --save-dev ${{ matrix.npm-i }}
      if: matrix.npm-i != ''

    - name: Setup Node.js version-specific dependencies
      shell: bash
      run: |
        # eslint for linting
        # - remove on Node.js < 12
        if [[ "$(cut -d. -f1 <<< "${{ matrix.node-version }}")" -lt 12 ]]; then
          node -pe 'Object.keys(require("./package").devDependencies).join("\n")' | \
            grep -E '^eslint(-|$)' | \
            sort -r | \
            xargs -n1 npm rm --silent --save-dev
        fi

    - name: Install Node.js dependencies
      run: npm install

    - name: List environment
      id: list_env
      shell: bash
      run: |
        echo "node@$(node -v)"
        echo "npm@$(npm -v)"
        npm -s ls ||:
        (npm -s ls --depth=0 ||:) | awk -F'[ @]' 'NR>1 && $2 { print $2 "=" $3 }' >> "$GITHUB_OUTPUT"

    - name: Run tests
      shell: bash
      run: |
        if npm -ps ls nyc | grep -q nyc; then
          npm run test-ci
          cp coverage/lcov.info "coverage/${{ matrix.node-version }}.lcov"
        else
          npm test
        fi

    - name: Lint code
      if: steps.list_env.outputs.eslint != ''
      run: npm run lint

    - name: Collect code coverage
      if: steps.list_env.outputs.nyc != ''
      run: |
        if [[ -d ./coverage ]]; then
          mv ./coverage "./${{ matrix.node-version }}"
          mkdir ./coverage
          mv "./${{ matrix.node-version }}" "./coverage/${{ matrix.node-version }}"
        fi

    - name: Upload code coverage
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: steps.list_env.outputs.nyc != ''
      with:
        name: coverage-${{ matrix.node-version }}
        path: "./coverage/${{ matrix.node-version }}"
        retention-days: 1

  coverage:
    permissions:
      checks: write  # for coverallsapp/github-action to create new checks
      contents: read  # for actions/checkout to fetch code
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install lcov
      shell: bash
      run: sudo apt-get -y install lcov

    - name: Collect coverage reports
      uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        path: ./coverage

    - name: Merge coverage reports
      shell: bash
      run: find ./coverage -name lcov.info -exec printf '-a %q\n' {} \; | xargs lcov -o ./coverage/lcov.info

    - name: Upload coverage report
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
